<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tododetail.css' %}">
</head>
<body>
    <div class="container">
        <h2>{{ todolist.title }}</h2>
        <p>{{ todolist.content }}</p>
        <br>
        <div class="button-row">
            <button><a href="{% url 'todolist' %}">TO-DO LIST 목록으로</a></button>
            <button><a href="{% url 'tododonelist' %}">TO-DO LIST 완료 목록으로</a></button>
        </div>
    </div>
</body>
</html>