<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
</head>
<body>
    <div class="container">
        <div class="home-button">
            <form action="{% url 'home' %}">
                <button type="submit">Home</button>
            </form>
        </div>
        <h1>TO-DO LIST</h1>
        <p>
            <a href="{% url 'todopost' %}" class="button">ADD TO-DO LIST</a>
            <a href="{% url 'tododonelist' %}" class="button">COMPLETED TO-DO LIST</a>
        </p>
        <br>
        <ul class="list-group">
            {% for todolist in todolists %}
                <li class="list-group-item">
                    <a href="{% url 'tododetail' todolist.id %}"><strong>{{ todolist.title }}</strong></a>
                    {% if todolist.important %}
                        <span class="badge">중요</span>
                    {% endif %}
                    <div class="edit-button">
                        <a href="{% url 'todoedit' todolist.id %}" class="button-edit">EDIT</a>
                        <a href="{% url 'tododone' todolist.id %}" class="button-complete">COMPLETE</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>