<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed To-do List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tododonelist.css' %}">
</head>
<body>
    <div class="container">
        <div class="home-button">
            <form action="{% url 'home' %}">
                <button type="submit">Home</button>
            </form>
        </div>
        <h1>COMPLETED TO-DO LIST</h1>
        <div class="button-row">
            <a href="{% url 'todolist' %}" class="button">TO-DO LIST 목록으로</a>
        </div>
        <br>
        <ul class="list-group">
            {% for done in dones %}
                <li class="list-group-item">
                    <a href="{% url 'tododetail' done.id %}">{{ done.title }}</a>
                    {% if done.important %}
                        <span class="badge">중요</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>