body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative; /* 홈 버튼을 절대 위치로 배치하기 위해 추가 */
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
a.write-post {
    display: inline-block;
    margin-bottom: 20px;
    background-color: rgb(131, 166, 204);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}
a.write-post:hover {
    background-color: #0056b3;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
form {
    margin: 0;
}
.category-filter select,
.category-filter button[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
}
.category-filter button[type="submit"] {
    background-color: rgb(131, 166, 204);
    color: #fff;
    cursor: pointer;
}
.category-filter button[type="submit"]:hover {
    background-color: #0056b3;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    position: relative;
}
h2 {
    margin: 0 0 10px;
}
p {
    margin: 5px 0;
}
img.fixed-size {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}
.post-meta {
    color: #555;
    font-size: 14px;
}
.delete-button {
    background-color: #d78e96;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.delete-button:hover {
    background-color: #c82333;
}
.home-button {
    position: absolute;
    top: 20px;
    right: 20px;
}