body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h2, p {
    text-align: center;
}
.button-row {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 사이의 간격 */
    margin-top: 20px;
}
button {
    background-color: rgb(131, 166, 204);
    color: #fff;
    border: none;
    padding: 5px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}
button a {
    color: #fff;
    text-decoration: none;
}a
button:hover {
    background-color: #0056b3;
}