body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative; /* 홈 버튼을 절대 위치로 배치하기 위해 추가 */
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
p {
    text-align: center;
}
.button {
    background-color: rgb(131, 166, 204);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
}
.button:hover {
    background-color: #0056b3;
}
.list-group {
    padding: 0;
    list-style: none;
}
.list-group-item {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}
.list-group-item:last-child {
    margin-bottom: 0;
}
.list-group-item strong {
    font-size: 18px;
    color: #333;
}
.badge {
    background-color: #ce6a76;
    color: #fff;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 12px;
    margin-left: 5px;
    vertical-align: 2px;
}
.edit-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}
.edit-button .button-edit,
.edit-button .button-complete {
    background-color: #f9d977;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}
.edit-button .button-edit:hover {
    background-color: #d9bc2d;
}
.edit-button .button-complete {
    background-color: #87c960d0;
}
.edit-button .button-complete:hover {
    background-color: #218838;
}
.home-button {
    position: absolute;
    top: 20px;
    right: 20px;
}